<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
<div class="navbar">
  <div class="titulo px-3">
    <nav class="dropdownmenu">
      <ul>
        <li><a routerLink="" routerLinkActive="active-link">PageName</a></li>
      </ul>
    </nav>
  </div>
  <div class="botones">
    <nav class="options">
      <ul>
        <li><a routerLink="/users" routerLinkActive="active-link" class="btn1">Usuarios</a></li>
        <li><a routerLink="/users/create" routerLinkActive="active-link" class="btn2" >Agregar Usuario</a></li>
      </ul>
    </nav>
    
  </div>
</div>