<app-nav-bar></app-nav-bar>

<div *ngFor="let User of users" class="card card-body mb-2">
    <div class="row">
      <div class="col-md-8">
        <ul>
          <li>
            id: {{User.id}}
          </li>
          <li>
            username: {{User.username}}
          </li>
          <li>
            email: {{User.email}}
          </li>
          <li>
            password: {{User.password}}
          </li>
         
        </ul>
        <button (click)="deleteUser(User.id)" class="btn btn-danger">
          Delete
        </button>
        <button [routerLink]="['/users/edit', User.id]" class="btn btn-secondary">
          Edit
        </button>
      </div>
    </div>
  </div>